kind: Secret
apiVersion: v1
metadata:
  name: pullsecret-cluster-{{ cluster_name }}
  namespace: {{ cluster_name }}
  labels:
    agent-install.openshift.io/watch: 'true'
data:
  .dockerconfigjson: >-
    {{ dockerconfig }}
type: Opaque
